.figure{
  height: 300px;
  width: 100px;
  position: relative;
}
.torso-wrapper{
  padding-top: 50px;
}

.figure img{
  max-width: 50px;
  height: auto;
}
.head{
  z-index: 12;
  position: absolute;
  top: 0;
  right:25%;
}

.limbo{
  transform-origin: 0, 0;
}