.app{
  padding-left: 20%;
}
.figure{
  display: inline-block;
  height: 300px;
  width: 100px;
  position: relative;
}
.torso-wrapper{
  padding-top: 50px;
}

.figure .tall-limb{
  max-width: 50px;
  height: auto;
}

.head{
  z-index: 20;
  position: absolute;
  top: 0;
  right:25%;
}
.figure .wide-limb{
  max-width: 90px;
  height: auto;
  z-index: 5;
}

.leg.wide-limb{
  position: absolute;
  top: 115px;
  left: 70px;
}